* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#home.content {
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#home header {    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    max-width: 430px;
    margin: 50px auto;
}

#home header h1 {
    font-size: 48px;
    font-weight: bold;
}

#home header img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#home #timer {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}

#home #error {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    color: #D61D1D;

}

#home .controls {
    margin-top: 3rem;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 16px;
}

#home .controls #button {
    color: white;
    font-size: 18px;
    font-weight: bold;

    width: 15em;
    height: 50px;
    max-width: 15rem;
    text-align: center;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25) ;
}

#home .controls #button.start {
    background-color: #97c447 ;

    transition: background-color 400ms;
}

#home .controls #button.start:hover {
    background-color: #7C993C ;
}

#home .controls #button.stop {
    background-color: #F43B3B;

    transition: background-color 400ms;
}

#home .controls #button.stop:hover {
    background-color: #D61D1D;
}

#home .controls #button.reset {
    background-color: #cacaca;

    transition: background-color 400ms;
}

#home .controls #button.reset:hover {
    background-color: #b1b1b1;
}

#home form {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
#home form legend {
    margin-top: 50px;
    font-size: 24px;
}

#home form .settings-group {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
}

#home form label {
    font-size: 16px;
}

#home form input {
    margin-top: 0.5em;
    font-size: 20px;
    color: #cacaca;
    text-align: center;

    border: solid 1px #cacaca;
    background-color: #f5f5f0;
    width: 100%;
    height: 2em;
    border-radius: 0.5em;
}

#home form #submit {
    color: #f5f5f0;
    background-color: #D61D1D;
    margin-top: 1.5em;
    max-width: 40%
}

#home form #saved-settings {
    font-size: 1em;
    margin: 5% 0 0 5%;
    display: inline-block;
}


/* Ajustes*/

@media (min-width: 600px){

}

@media (max-width: 600px) {
    #home header {
        max-width: 100%;
    }
}
@media (max-width: 460px) {
    
    #home header {
        margin: 2em auto;
    }

    #home header h1 {
        font-size: 2em;
        
    }
    
}